@charset "UTF-8";
/* 全ての要素に適用 */
* {
  box-sizing: border-box;
}

/* ボディに適用 */
/* 最初からあった */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* レイアウト設定 */
body {
  position :relative;
  margin: 0;
  background: #132B4D;
  display: grid;
  margin: 5% 80px 0px 80px;
}

* {
  color: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
}

.top {
  width: 600px;
  height: 230px;
}

.top h1 {
  width :fill;
  margin: 0px;
  padding: 0px;
  font-size: 60px;
}

#title {
  color: #7EE8FF;
  font-size: 24px;
}

#inquiry {
  color: black;
  background-color: white;
  border: none;
  border-radius: 40px;
  padding: 10px 50px 10px 50px;
  margin-top: 20px;
  height: 50px;

}

.contents {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 20px;
}
.contentsList {
  border-left: solid;
  border-color: #E6EDF34D;
  padding: 0px 30px 0px 30px;
}
.contentsList p {
  margin-bottom: 5px;
}


@media (max-width :400px){
  body {
    margin: 112px 24px 0px 24px;
  }

  .main {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
  }

  .top h1 {
    font-size: 32px;
  }

  #inquiry {
    padding: 10px 50px 10px 50px;
    margin-top: 20px;
    margin: 20px 0px 20px 0px;
    height: 50px;
  }
  
  .topImage {
    width: 100%;
    margin: 50px 10px 50px 10px;
  }

  .contents {
    flex-direction: column;
    
  }

  .contentsList {
    margin: 10px;
  }


}