@charset "UTF-8";
/* 全ての要素に適用 */
* {
  box-sizing: border-box;
}

/* ボディに適用 */
/* 最初からあった */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* レイアウト設定 */
body {
  position :relative;
  margin: 0;
  background: #132B4D;
  display: grid;
  margin: 10% 15% 10% 15%;
}

* {
  color: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  width: 100%;
}

.top {
  width: 50%;
  height: 40%;
}

.topImage {
  width: 50%;
  height: 40%;
  text-align: right;
}

.top h1 {
  width :fill;
  margin: 0px;
  padding: 0px;
  font-size: 60px;
}

#title {
  color: #7EE8FF;
  font-size: 150%;
}

#inquiry {
  color: black;
  background-color: white;
  border: none;
  border-radius: 9999px;
  padding: 2% 10% 2% 10%;
  height: 1%;

}

.contents {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-top: 3%;
  width: 100%;
}
.contentsList {
  border-left: solid;
  border-color: #E6EDF34D;
  padding: 0px 1% 0px 1%;
  width: 33%;
}
.contentsList p {
  margin-bottom: 1%;
}


@media (max-width :400px){
  body {
    margin: 10% 5% 0px 5%;
  }

  .main {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: fill;
  }

  #title {
    font-size: 100%;
  }

  .top h1 {
    font-size: 100%;
    width: fill;
  }

  #inquiry {
    padding: 5% 15% 5% 15%;
    margin-top: 5%;
    margin: 5% 0px 5% 0px;
    /*
    height: 2%;
    */
  }
  
  .topImage {
    width: 100%;
    height: auto;
    margin: 10% 0% 10% 0%;
    text-align: center;
  }
  
  .topImage img {
    width: 100%;
    height: auto;
  }

  .contents {
    flex-direction: column;
    width: 100%;
    
  }

  .contentsList {
    margin: 5% 10% 5% 0%;
    width: 100%;
  }


}